{
    "printWidth": 80,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "proseWrap": "never",
    "requirePragma": false,
    "overrides": [{
        "files": ".prettierrc",
        "options": {
            "parser": "json"
        }
    }],
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-packagejson"
    ]
}